──────────────────────────────
$HIM$                        【游戏规则】                        $NOR$
──────────────────────────────

    本游戏改编自「侠客行」，原是建立在「东方故事Ⅱ」MUDLIB上
的一个ＭＵＤ，我们的目的是为广大在ＩＮＴＥＲＮＥＴ上玩的，能
够读写汉字的朋友们提供一个消遣时间，谈天说地的地方。当然，就
象其他的ＭＵＤ一样，我们需要一套规则来保证游戏能够正常运行，
玩家们能玩的高兴。不愿意遵守以下规则的朋友请勿加入本游戏，谢
谢。

$HIR$  ＊    禁止在任何频道或ＰＯＳＴ中辱骂任何一位巫师或玩家。
        如果为了表达自己的愤怒与不屑，请用 $HIY$tell$HIR$ 或 $HIY$whisper$HIR$。
        请注意：巫师不会对使用 $HIY$tell$HIR$ 或 $HIY$whisper$HIR$  的交谈内容进
        行任何管理，如果他人和你的私人交谈中含有任何不雅子眼
        而你进行公开宣扬的话，巫师将会认为你反规则而进行处理。

$HIR$  ＊    禁止在任何频道或是公开场合发布有伤风化的言语。

$HIR$  ＊    禁止玩家取任何日本名字，违者给杀档后果自负。

$HIR$  ＊    由于系统原因造成的当机，导致玩家受到的任何损失，巫师
        没有任何弥补的义务。

$HIR$  ＊    禁止任何ＦＬＯＯＤ，凡是散布没有用处的信息或是反复散
        布相同的信息都被认为是ＦＬＯＯＤ。如果你需要发布物品
        买卖广告或是其它类似的重复信息，请使用 bill 频道。如
        果需要其它玩家的帮助，请使用 sos 频道。 禁止使用其他
        任何频道散布重复累赘的信息。

$HIR$  ＊    ＦＬＯＯＤ行为第一次给予警告，警告不听者就要受到6-12
         小时的惩罚。

$HIR$  ＊    禁止滥用投票权骚扰任何玩家。

$HIR$  ＊    在公共场合发布有伤风化的言语，给予1-3天不等的惩罚,请
         各位玩家自重。 

$HIR$  ＊    禁止有意散布让玩家容易误会的信息。

$HIR$  ＊    禁止使用易引起混乱或不雅观的中、英文名字。

$HIR$  ＊    禁止利用系统的错误或缺陷干扰游戏秩序，骚扰其他玩家。

$HIR$  ＊    请用 tell 或 reply 来进行私人交谈。

$HIR$  ＊    请勿故意使用和他人一模一样的姓名，如果名字和先注册
        的玩家重名或非常相近，请后到的玩家修改名字。

$HIR$  ＊    使用ＢＵＧ牟利，一经查实，一概杀档。

$HIR$  ＊    允许互相ＰＫ，下毒，抢劫，行窃。

$HIR$  ＊    严禁向任何巫师提出任何无理要求，比如修改属性或者索取
        物品等，违者将严肃处理。

$HIR$  ＊    所有巫师除了必须遵守以上规则外，还要遵守 wizrules。
        天神会保留对犯规行为采取任何处理办法的权利。

$NOR$    凡是违反明确禁止的条款的ID，可以导致被踢出、监禁、删除档
案的任何一种处理。其它情况采用具体的解决办法，但是不会采用上
述这三种严厉的手段。如果违反规则，巫师可以不给出警告直接进行
处理。
